 body {
    padding: 0; margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: dmsans, sans-serif; 
    
}

:root{
    --maincolor: #5BB5A2;
    --backgroundcolor: #5BB5A2;
}

.site-header{
    display: flex;
    flex-wrap: wrap;
       
}

.main-nav{
    width: 100vw;
    align-items: flex-end;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}   

ul li a{
    display: flex;
    text-decoration: none;
    color: black;
    
}

.right-elements{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: 32vw; 
}

.OpenAccount{
    background-color: var(--backgroundcolor);
    color: white; border: none; border-radius: clamp(6px, 1vw, 12px);
}
button:hover {
   cursor: pointer;
}

.login-button{
    text-decoration: none;
    color: var(--maincolor);
    display: flex; align-items: center;
    margin:  clamp(8px, 1vw, 16px);
}

.logo{
    margin-left: 1vw;
}

.main-content{
    display: flex;
    font-size: clamp(0.5rem, 3.5vw, 2rem);
}

.cards_pichure img{
    width: clamp(200px, 10vw, 400px);
    height: clamp(200px, 25vw, 400px);
}

.flexible{
    display: flex;
    gap: 0.5vw;   
}
   
.glabuttom{
    display: flex; gap: 0.5vw;
    flex-direction: column;
    align-self: flex-end;   
}
.buttona{
    display: flex;
    gap: 0.5vw; margin-left: 1vw;    
}

.features-list{
    list-style: none;
    padding: 0; 
    margin: 0;
}

.features-list li {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  flex-direction: row;
  margin-top: clamp(8px, 10vw, 16px);

}

.features-list li::before {
  content: url("imeges/Vector.png");
  color: var(--maincolor);
  display: inline-block;
  width: 1em;           /* подогнать по размеру */
  height: auto; 
}

.galachky{
    display: flex; height: 20vh;
    gap: 0.5vw; justify-content: center;
}

.li::before{
    display: flex;
    gap: 0.5vw;
}

h1,p{
    margin-left: 1vw;
    font-size: clamp(0.5rem, 4.5vw, 2rem);
}
h1{ 
  display: flex;
  justify-content: center; 
}

.page2{
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}

.photoiphone img{
    width: clamp(200px, 10vw, 400px);
    height: clamp(200px, 25vw, 400px);
}

.bank2 {
    display: inline-flex; gap: 0.5vw;
    flex-direction: row; margin-left: 1vw;
    justify-content: center; padding: 0; 
}

.instant img{
    display: flex;
    width: clamp(50px, 1vw, 50px);
    height: auto; position: relative;
    left: 30vw; top: 6vh;
}

.instant p {
    display: inline-flex; gap: 0.5vw;
    flex-direction: column; margin-left: 1vw;
    border: 1px solid var(--maincolor);
    padding: 1vw; border-radius: 5vw;
    justify-content: flex-start; width: 45vw; 
    margin-top: 0;    
}

.saving img {
    display: flex;
    width: clamp(50px, 1vw, 50px);
    height: auto; position: relative;
    left: 22vw; top: 6vh;
}
.saving p {
    display: inline-flex; gap: 0.5vw;
    flex-direction: column; margin-left: 1vw;
    border: 1px solid var(--maincolor);
    padding: 1vw; border-radius: 5vw;
    align-items: flex-start;  
    margin-top: 0; width: 32vw;
}

.mobaile img {
    display: flex;
    width: clamp(50px, 1vw, 50px);
    height: auto; position: relative;
    left: 20vw; top: 6vh;
}
.mobaile p {
    display: inline-flex; gap: 0.5vw;
    flex-direction: column; margin-left: 1vw;
    border: 1px solid var(--maincolor);
    padding: 1vw; border-radius: 5vw;
    align-items: flex-start;  
    margin-top: 0; width: 32vw;
}

.Advanced img {
    display: flex;
    width: clamp(50px, 1vw, 50px);
    height: auto; position: relative;
    left: 24vw; top: 6vh;
}
.Advanced p {
    display: inline-flex; gap: 0.5vw;
    flex-direction: column; margin-left: 1vw;
    border: 1px solid var(--maincolor);
    padding: 1vw; border-radius: 5vw;
    align-items: flex-start;  
    margin-top: 0; width: 35vw;
}

.photoiphone{
    display: flex;
    width: 20vw;
}

.flex1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-left: 1vw;

}
.money__transfer{
    background-color: #e9faf7;
}

.money-transfer__wrapper_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50vw; 
    margin-left: 2vw;
    
}
.money-transfer__wrapper_right{
    font-size: clamp(0.5rem, 4.5vw, 2rem);
    justify-content: center; margin-left: 2vw;
}

.transactions__list_item_text{
    display: flex;   
    align-items: flex-start;
    
}
li{
    list-style: none;
    margin: 0; padding: 0;
}
.transactions__list{
    padding: 0; margin: 0;
    text-decoration: none;
    margin-right: 1vw;
}

.money-transfer__list{
    padding: 0; margin: 0;
    width: clamp(280px, 25%, 500px);


    
}
.apple_logo, .amazon_apple_logo{
    width: clamp(25px, 1vw, 50px);
    height: auto; padding: 0;
}
.transactions__list_item_text{
    display: flex;
    align-items: center;
    padding-right: 2vw;

}

.flex_wrapper_transfer{
    display: flex;
}
.money-transfer__wrapper_right, .money-transfer__wrapper_left{
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.transactions__list_item_text_amaozon{
    display: flex;
    align-items: center;
    margin-right: 10vw;
}



.list_wrapper{
    display:flex;
    gap: 0.5vw;
    
}
.right-list, .left-list{
    flex: 1;   
}
.upp_icon{
    width: clamp(30px, 1vw, 100px);
    height: auto; display: flex; gap: 1vw;
}

.logo_footer img{
    margin-left: 1vw;
    width: clamp(100px, 5vw, 400px);
    height: auto; margin-top: 1vh;
}

.referens_footer{
    display: flex;
    background-color: #d2f6ee;
    justify-content: center;
}
.referens_footer__about {
    display: flex;
    gap: 20vw; 
}
.no_scam {
    margin: 0; 
    height: auto; display: flex; flex-direction: row;
    background-color: #d2f6ee;
}
.footer_copiright{
    margin: 0; padding: 0;
    font-size: clamp(15px, 2vw, 50px);
}