.body{
    padding: 0; margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: dmsans, sans-serif; }

.nav{
    margin: clamp(2px, 1vw, 5px);
}    

.nav__wrapper-logo-button{
    display: flex;
}
.nav__button-login-openAccount{
    display: flex; gap: 1vw;
    justify-content: flex-end; width: 100%;
}

.nav__menu-list{
    display: flex;
    justify-content: center;
    gap: 11vw; justify-content: space-around;
    margin-right: 7vw;
    
}
.support{
    background-color:#e3f7f2 ;
}
.support__main{
    display: flex;
    justify-content: center; 
    flex-direction: column; 
}
.support__main-text{    
    font-size: x-large;
    margin-top: 0; 

}
.support__wrapper-img{
    display: flex;
    
}
.support-img{
    width: clamp(200px, 2.5vw, 200px);
    height: auto;    
}  
.support__container{
    display: flex;
}
.support__main, .support__wrapper-img{
    flex: 1;
}

.help-desk{
    background-color:#e3f7f2 ;
    font-size: clamp(16px, 1vh, 32px);
}


.help-desk__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-desk__tittle,
.help-desc__phone,
.help-desk__email,
.help-desk__buttom{
    flex: 1;
}


.faq__wrapper{
    display: flex;
}

.faq__categories,
.faq__list{
    flex: 1;
}


.faq__list{
    display: flex;
    justify-content: center;     
}

.faq__list-card{
    font-size: clamp(32px, 2vw, 40px);
}
.faq__list-card,
.faq__list-card--icon{
    display: flex;
    align-items: center; gap: 1vw;
}  
.faq__categories-title{
    margin-left: 5vw; margin-bottom: 0;
}
.faq__categories{
    display: flex;
    flex-direction: column; 
}


.question__faq1{
    display: flex;
    width: 100vw;
}
.question__faq-text,
.question__faq--icon{
    display: flex;  gap: 5vw;
    flex-direction: row-reverse;
    width: 100vw; justify-content: center;
}

.question__faq-2{
    
}
.question__faq-text2,
.question__faq--icon2{
   display: flex;  gap: 5vw;
    flex-direction: row-reverse;
    width: 100vw; justify-content: center; 
}

.footer__logo{
    max-height: clamp(32px, 2vh, 50px);
    margin: 1vh;
}

.footer__wrapper{
    display: flex;
}